header  
    width   100%
    background-color #060606
    overflcow hidden
    nav
        width 90%
        display block
        margin 0px auto
        ul li
            margin 0px
            padding 0px
            display inline-block 
            a   
                display inline-block
                color white
                line-height 3.1em
                padding 0px 10px
                text-decoration none
                &:hover
                    background white
                    color black